table.chessboard > tbody > tr:first-child > td {
    border-top: medium solid black;
}

table.chessboard > tbody > tr:last-child > td {
    border-bottom: medium solid black;
}

table.chessboard > tbody > tr > td:first-of-type {
    border-left: medium solid black;
}

table.chessboard > tbody > tr > td:last-of-type  {
    border-right: medium solid black;
}
